{% extends 'base.html' %}

{% block content %}

    <a id="about">
    <div class="section features-6">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="info info-horizontal info-hover-primary">
              <div class="description pl-4">
                <h5 class="title">About Us</h5>
                <p>We make the navigation of the relief process easy by creating a common platform to connect the people who need relief with those (Govt. initiatives/NGOs/groups/individuals) who are providing relief and also to people who want to volunteer</p>
                <a href="https://facebook.com/URHope.team/" class="text-info">Learn more</a>
              </div>
            </div>
            <div class="info info-horizontal info-hover-primary mt-5">
              <div class="description pl-4">
                <h5 class="title">Who Are We</h5>
                <p>We are a group of enthusiasts comprising of students and working professionals from IIT Bombay and beyond coming from the fields ranging from engineering, management, biosciences to Humanities and Social Sciences who are passionate towards the issues of social justice. We have come together to make the navigation of the relief process easy in the times of Covid19 crisis. There is a barrage of information circulating around regarding the relief programmes; on the one hand, it is a kind and responsible gesture, however, on the other, at times, the people who actually need relief are not able to navigate the enormous amount of information available and reach the suitable relief providers in their vicinity. So, we decided to create a common platform to bring together the people who need relief, people (Govt. initiatives/NGOs/groups/individuals) who are already providing the relief and the ones who want to volunteer in such relief programmes.
</p>
                <a href="https://facebook.com/URHope.team/" class="text-info">Learn more</a>
              </div>
            </div>
            <div class="info info-horizontal info-hover-primary mt-5">
              <div class="description pl-4">
                <h5 class="title">What We Do</h5>
                <p>There are people who want to contribute to society-as helping hand, as donors, as volunteers and then there are NGOs and Governments-who want help from these people to solve some of the biggest problems of society. And in times like today, with pandemic like COVID-19/corona-many people are in need of urgent help. These are the times when we need cooperation and help more than anything else. So, we are providing a platform/interface for people, NGO and Government organizations to connect and solve the humanitarian crisis originated through COVID-19. People can register as volunteers or someone who needs help (for food, medicine, accommodation etc.) and NGOs/groups/individuals can register as the ones helping people through the volunteers, our platform connects these two.
</p>
                <a href="https://facebook.com/URHope.team/" class="text-info">Learn more</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-10 mx-md-auto">
          <!--   <img class="ml-lg-5" src="/urhope/assets/img/ill/ill.png" width="100%">
   -->       </div>
        </div>
      </div>
    </div>

<a class="twitter-timeline" href="https://twitter.com/urhope_team">Tweets by @urhope_team</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <a id="contact">
        
<section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-7">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white pb-5">
              <div class="mb--3 text-muted text-center mb-3"><h2>Contact Us</h2></div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <form action="https://formspree.io/xnqbrrnp"
  method="POST" role="form">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                    </div>
                    <input class="form-control" placeholder="Your Name" type="text" name="name" required>
                  </div>
                </div>
               
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" name="_replyto" placeholder="Email" type="text" required>
                  </div>
                </div>
                <div class="form-group focused">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-chat-round"></i></span>
                    </div>
<textarea rows="7" cols="50" placeholder="Message" class="form-control" name="message" required></textarea>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}