{% extends 'base.html' %}

{% block content %}

                <h3 class="mt-4 mb-4 ml-2">Team Members</h3>

              <div class="mb-4 card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                      <p class="description"><strong>Dr. Neelam Rathore </strong> did her PhD from the Department of Energy sciences and Engineering at the Indian Institute of Technology, Bombay. She has previously worked in an NGO called "Bachpan Bachao Andolan" and currently works as Senior manager -research and development with Persapien Innovation, Delhi.
</p>
                    </div>
                    </div>
                    </div>
                    </div>

              <div class="mb-4 card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                      <p class="description"><strong> Vivek Gunawat </strong> is an alumnus of the Indian Institute of Technology, Guwahati and is currently an MBA candidate at IIM Kozhikode. He is trying to bring some change around him following the motto:
</p>
                      <p class="description">"Be the change that you wish to see in the world” - Gandhi"</p>
                    </div>
                    </div>
                    </div>
                    </div>
                    
              <div class="mb-4 card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                      <p class="description"><strong> Siddhant Minocha </strong> is the founder at Inclick - 360° Social Media Intelligence Platform. He is interested in Social Media, Code, Tech and, most importantly, Coffee. 
</p>
                    </div>
                    </div>
                    </div>
                    </div>
                    
              <div class="mb-4 card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                      <p class="description"><strong> Zuhair Abbas </strong> is the student at University of Mumbai, enthusiastic coder, Programmer exploring new Challenges. Part of his work include crafting, building and deploying AI applications to answer business issues. He also blog about technical topics such as deep learning. 
</p>
                    </div>
                    </div>
                    </div>
                    </div>
                    
              <div class="mb-4 card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                      <p class="description"><strong> Sukanya Dikshit </strong> is an entrepreneur with a research background. She has pursued her MS in biotechnology from IIT Roorkee post which she worked on a cancer biology project at the Indian Institute of Technology, Bombay. She is the Founder and CEO at Phabio enterprises private limited.
</p>
                    </div>
                    </div>
                    </div>
                    </div>

              <div class="mb-4 card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                      <p class="description"><strong> Priya Sharma </strong> is pursuing her PhD at the Department of Humanities and Social Sciences, Indian Institute of Technology, Bombay. Her current research is around Indian surrogacy industry and policy debates around it. She has been actively involved with the social justice issues, in particular, LGBTQ+ movement at the IIT campus and beyond.
</p>
                    </div>
                    </div>
                    </div>
                    </div>
                    
              <div class="mb-4 card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                      <p class="description"> <strong> Aakash </strong> is a second-year Engineering Physics undergraduate at the Indian Institute of Technology, Bombay. He has been interested in Dark-matter, Cosmological simulations, High Energy and Machine Learning and Neural Networks in which he hopes to explore and contribute to in the long run.
</p>
                    </div>
                    </div>
                    </div>
                    </div>
                    
              <div class="mb-4 card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                      <p class="description"><strong> Hamdan </strong> is a mechanical engineer, currently working as a Business Development Executive in Solidworks. He is passionate about the issues of social justice and strives to connect with people and help in all ways possible.
</p>
                    </div>
                    </div>
                    </div>
                    </div>

              <div class="mb-4 card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                      <p class="description"><strong> Jamal Mohamed </strong> is from Chennai and is working in an IT company.</p>
                    </div>
                    </div>
                    </div>
                    </div>
                    
              <div class="mb-4 card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                      <p class="description"><strong> Thamil Thedal </strong> is a PhD student in Mechanical engineering, Indian Institute of Technology, Bombay and as he likes to call himself, "a mere sample of homo sapiens".
</p>
                    </div>
                    </div>
                    </div>
                    </div>
                    
              <div class="mb-4 card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                      <p class="description"><strong> Jim </strong> as he likes to call it is a man of his own! He loves helping others though! He is doing PhD at IIT Bombay.
</p>
                    </div>
                    </div>
                    </div>
                    </div>
                    
              <div class="mb-4 card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                      <p class="description"><strong> Aparna R. </strong> is a PhD Research Scholar in Humanities and Social Sciences, IIT Bombay.
</p>
                    </div>
                    </div>
                    </div>
                    </div>
                    
              <div class="mb-4 card shadow">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                      <p class="description"><strong> Dr. Aparna Rao </strong> is a Senior Project Manager at DSSE, IIT Bombay since 2014 where she is responsible for overseeing all operations, coordinating various courses and hand-holding student startups. She liaisons with various departments and centres inside IITB, as well as Mumbai University, Dibrugarh University and Andhra Pradesh and also engages with Deshpande Foundation, Hubli for their Skill in Village programs and curriculum development. She also consults for educational institutions and is a Cambridge certified English Language Examiner. She is a mentor for Aspire for Her Foundation for young girls aspiring for career development guidance.
</p>
                    </div>
                    </div>
                    </div>
                    </div>
                    
                    


{% endblock %}